.main{
   
    width: 1000px;
}
.blog{
    display: flex;
   
}
.post{
    border: solid 1px;
    width: 900px;
  border-radius: 8px;
    margin: 5%;
    background-color: rgb(224, 221, 226);
    padding: 8px 5px;
    box-shadow:3px 4px;
    
}
.post>h2{
    margin-left: 90%;
}
.panelTable th{
    background-color: #eee;
    border: solid 1px;
    height: 2px;
    width: 70px;
     
}
nav{
    background-color: black;
    color: beige;
    height:  80px;
    display: flex;
    text-align: center;
    justify-content: space-around;

}
nav>a{
    color: #eee;
    padding-top: 30px;
}
form{
    margin-top: 10%;
    display: grid;
    text-align: center;
    justify-content: space-around;
    justify-items:normal;
}
form>input{
    margin-bottom: 10px;
    height: 25px;

}
textarea{
    margin-bottom: 10px;

}
.side{
    width: 250px;
    background-color: rgb(153, 149, 149);
    height: 1800px;
    padding-left: 15px;
}

a{
    text-decoration: none;
    color: black;
}